.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    width: 40px; /* Adjust as needed */
    height: 40px;
    border-radius: 4px;
  }
  
  .cell.fixed {
    font-weight: bold; /* Bold text for fixed cells */
  }
  
  .cell.dynamic {
    /* Styles for dynamic cells */
  }
  
  .cell.dynamic input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    background-color: transparent; /* Ensure the input background matches the cell */
  }
  
  .cell.selected {
    background-color: rgba(0, 120, 215, 0.3); /* Highlight selected cell */
  }

  .incorrect-cell {
    background-color: red;
  }
  
  .notes-input {
    position: absolute;
    opacity: 0; /* Hide the input field but keep it interactive */
    width: 100%;
    height: 100%;
  }
  
  .notes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: smaller; /* Adjust font size to fit the notes in a 3x3 grid */
    /* Add any additional styling needed */
  }
  
  .note {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  